#grid {
    display: grid;
    grid-template-rows: 50px 1fr 80px;
    grid-template-columns: 120px 1fr 80px;
    grid-gap: 5px;
    height: 90vh;
  }
  #grid > div {
    background-color: #66CC00;
  }
  #item1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    }
  #item2 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;  
    }